package app

import (
	"github.com/NewGlassbiller/gb-go-common/gbnet/common"
	"github.com/NewGlassbiller/gb-go-common/gbpolicy"
	"github.com/NewGlassbiller/gb-services-insurance/pkg/proto/{{ .ServiceNameLower }}/dto"
	"google.golang.org/grpc/codes"
	"google.golang.org/grpc/status"
	"gorm.io/gorm"
)

// {{ .MethodName }} handles {{ .RequestType }} and returns {{ .ResponseType }}
func (cmd Command) {{ .MethodName }}(authUser *common.UserInfo, req *dto.{{ .RequestType }}) (*dto.{{ .ResponseType }}, error) {
	// TODO: Add your logic here for {{ .MethodName }}
	return nil, nil
}